@use 'variables' as *;

.faq-toggle {
  display: none;
}

.faq-item {
  margin-bottom: 1rem;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0;
  padding: 1.25rem 1.5rem;
  background-color: $light-color;
  border-radius: 0.75rem;

  i {
    transition: transform 0.2s ease;
  }
}

.faq-answer {
  display: none;
  padding: 1rem 1.5rem 1rem;
}

.faq-toggle:checked ~ .faq-answer {
  display: block;
  background-color: #f7f8fa;
  border-radius: 0.75rem;
}
.faq-toggle:checked ~ .faq-question {
  background-color: #0b3558;
  color: white;
}

.faq-toggle:checked ~ .faq-question i {
  transform: rotate(180deg);
}

.faq-image {
  height: 560px;
}
